.accueilContainer {
  background-color: antiquewhite;
  background-image: url("../assets/Accueil2.jpg"); 
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}



.accueilTitle {
  text-align: center;
  margin: 10px 0;
  font-size: 2em;
  color: #333;

}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.accueil-button {
  position: absolute;
  bottom: 10px;
  width: 12rem;
  height: auto;
}

button.accueil-button .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #103350;
  border-radius: 1.625rem;
}

button.accueil-button .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #e5c99a;
}

button.accueil-button .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.accueil-button .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #e5c99a;
  border-right: 0.125rem solid #e5c99a;
  transform: rotate(45deg);
}

button.accueil-button .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #103350;
  font-weight: 800;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-family: "Alegreya";
  text-decoration: none;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #e5c99a;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #e5c99a;
  text-decoration: none;
}