.accueilContainer {
  background-color: antiquewhite;
  background-image: url("../assets/Accueil2.jpg"); 
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
 

 
}
.accueilTitle {
  color: black;
}
