@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Outfit:wght@100..900&display=swap");

:root {
  --beigeClair: #e5c99a;
  --beigeFoncé: #b28046;
  --bleuPrusse: #103350;
  --bleuFoncé: #242e35;
}

.dameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--beigeFoncé);
  background-image: url("../assets/DameDuLac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  position: relative;
  .dameTitle {
    background-color: var(--beigeFoncé);
    color: var(--bleuPrusse);
    text-align: center;
    font-family: "Alegreya";
    padding: 10px;
    border-radius: 10px;
  }
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }

  button.dameButton {
    position: absolute;
    bottom: 35px;
    width: 12rem;
    height: auto;
  }

  button.dameButton .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #e5c99a;
    border-radius: 1.625rem;
  }

  button.dameButton .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #103350;
  }

  button.dameButton .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }

  button.dameButton .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #103350;
    border-right: 0.125rem solid #103350;
    transform: rotate(45deg);
  }

  button.dameButton .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #e5c99a;
    font-weight: 800;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-family: "Alegreya";
    text-decoration: none;
  }

  button:hover .circle {
    width: 100%;
  }

  button:hover .circle .icon.arrow {
    background: #103350;
    transform: translate(1rem, 0);
  }

  button:hover .button-text {
    color: #103350;
    text-decoration: none;
  }
}
