.globalDivDescription {
  background-color: black;
}

.siteContainer {
  height: 75vh; /* Ajuste selon tes besoins */
  overflow: hidden;
}

.App-header {
  height: 500px; /* Ajuste selon tes besoins */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Assure-toi que le texte est lisible */
  background: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent si nécessaire */
}

h1,
p {
  text-align: center;
}

.wazeButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ajuste selon tes besoins */
  height: 100%; /* Ajuste selon tes besoins */
  background-color: #e5c99ac2;
  .waze-button-text {
    color: #103350;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    left: 50px;
  }
}
